
*{
    margin: 0;
    padding: 0;
}
/* This is the main header */
#logo-header {
    font-family: "Cormorant Garamond", serif;
    color: rgba(25, 51, 39, 1);
    font-weight: 700;
    font-size: 19px;
    text-align: center;   
}
/* Navbar container */
.navbar {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: rgba(11, 18, 9, 1);
    text-align: center;
    padding: 0;
    margin: auto; 
}
/*Dropdown container*/
.dropdown-menu {
    border-radius: 0; 
    border: none;
    width: 100%;
    margin:0;
    padding-top: 1;
    background-color: rgba(25, 51, 39, 1);
}
.dropdown-menu ul{
    list-style: none;
    margin: 0;
}
.dropdown-menu.show{
    display: flex;
  
}
.dropdown-menu li a{
    color:rgba(25, 51, 39, 1);
    text-align: center;
}
.dropdown-menu li:first-child a{
    font-family: "Roboto",sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-decoration: underline;
    color: rgb(255, 255, 255);
    background-color: inherit;    
}


/* This is the footer style */
footer{
   position:relative; 
   bottom: 0%;
   margin-top: auto;
}
#footer-line {
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    color: rgba(229, 250, 225, 1);
    font-weight: 700;
    font-size: 15px;
    text-align: center;
}