@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&family=Cormorant+Garamond&family=Roboto&display=swap');
* {
    margin: 0;
    padding:0; 
    box-sizing: border-box; 
}
body{
    position: relative;
    padding-bottom: 70px;
    min-height:fit-content; 
}
main{
    width:100vw;
    margin: auto;
}
/*This is the homepage main sections style*/
#welcomeMain {
    font-family: "Catamaran", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: rgb(2, 4, 3);
}
.h3{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: rgb(11, 18, 9);
    text-align: center;
}
.text-center{
    font-family: "Catamaran", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: rgb(2, 4, 3);
}

/* this is ahda header style */
.header{
    top:0%;
    width: 100%;
}

#logo-title {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: rgb(25, 51, 39);   
}
.navbar-nav {
    height: 38px;
    margin-bottom: 0%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: rgb(11, 18, 9)!important; 
}   
.nav-link:hover{
    color:rgb(63, 143, 105)!important;
}

.navbar  .dropdown-menu{
    z-index: 1;
}

/*dropdown container style*/
.dropdown-menu.show {
    display:flex;
    margin-top: 0px !important;
}
.dropdown-menu {
    list-style: none;
    height:75px;
    border:none;
    border-radius:0%;
    margin: 0%;
    padding: 0%;
    background-color: rgb(25, 51, 39)!important;
}
/*dropdown-items style*/
.dropdown-menu li:first-child a {
    font-family: "Roboto", sans-serif!important ;
    font-size: 18px;
    color: rgb(253, 255, 251);
    text-decoration: underline;

}
.dropdown-menu li .dropdown-item {
    font-family: "Roboto", sans-serif !important;
    font-size: 18px;
    color: rgb(253, 255, 251);
    text-decoration: underline;
}
/*removing the default dropdown-item hover effect*/
.dropdown-item {
    background-color: inherit !important;
}
/* This is the ahda-footer style */
footer {
    width: 100%;
    height: 70px; /*footer height*/
    position: absolute;
    bottom: 0;
}
#footer-line {
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    color: rgb(229, 250, 225);
    font-weight: 700;
    font-size: 15px;
    text-align: center;
}