@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&family=Cormorant+Garamond&family=Roboto&display=swap');

.list-group {
    font-family: "Catamaran", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color:rgb(0, 0, 0);
}
.card-link {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.card-header {
    font-family: "Catamaran", sans-serif ;
    font-weight: 500;
    font-size: 16px;
    color:rgb(0, 0, 0);
}

