@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&family=Cormorant+Garamond&family=Roboto&display=swap');
* {
    margin: 0;
    padding:0; 
    box-sizing: border-box; 
}
body {
    position:absolute;
    height: 100%;
    padding-bottom: 74px; 
}
main {
    min-height: 100%;
    width:100vw;
    margin: auto;
}
/*This is the homepage sections style*/
#welcomeMain {
    font-family: "Catamaran", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: rgb(2, 4, 3);
}
#mainTitles {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: rgb(11, 18, 9);
    text-align: center;
}
.text-center{
    font-family: "Catamaran", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: rgb(2, 4, 3);
}
   
/* this is header style */
header {
  width: 100%;
  padding-top: 0%;
}
#logo-title {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: rgb(25, 51, 39);   
}
.navbar-nav {
    height: 38px;
    margin-bottom: 0%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: rgb(11, 18, 9)!important; 
}   
.nav-link:hover{
    color:rgb(63, 143, 105)!important;
}

/*dropdown container style*/
.dropdown-menu.show {
    display:flex;
    margin-top: 0px !important;
}
.dropdown-menu {
    list-style: none;
    height: 80px !important;
    border:none;
    border-radius:0%;
    margin: 0%;
    padding: 0%;
    background-color: rgb(25, 51, 39)!important;
}
/*dropdown-items style*/
.dropdown-menu li:first-child a {
    font-family: "Roboto", sans-serif!important ;
    font-size: 18px;
    color: rgb(253, 255, 251);
    text-decoration: underline;

}
.dropdown-menu li .dropdown-item {
    font-family: "Roboto", sans-serif !important;
    font-size: 18px;
    color: rgb(253, 255, 251);
    text-decoration: underline;
}
/*removing the default dropdown-item hover effect*/
.dropdown-item {
    background-color: inherit !important;
}

@media only screen and (max-width: 767px) {
    .navbar-nav {
      max-height: initial;
    }
    .nav-item {
      max-height: initial;
    }
    .navbar-toggler {
      margin-top: 8px;
    } 
    .dropdown-menu {
      position: static !important;
      display: none;
      float: none;
      max-width: 100%;
      margin-top: 0;
      background-color: rgb(230,241,201);
      border: 0;
      box-shadow: none;
    }
    .dropdown-menu a {
      display: block;
      padding: 8px 16px;
    }
  
    .dropdown-menu.show {
      display: block;
      width: 100%;
    }
  }
  





/* This is the ahda-footer style */
footer {
    position:relative;
    bottom: 0;
    width: 100%;
    height: 74px; /*footer height*/
    margin-top: auto;
    padding-bottom: 0%;
}
#footer-line {
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    color: rgb(229, 250, 225);
    font-weight: 300;
    font-size: 16px;
    text-align: center;
}